Repository ZupIT/ritchie-cli, pull requests merged in 2021-09, with the labels that each got.

#1031 Add release-v3 workflow
  .github/workflows/release-v3.yml
  install.sh
Labels: :heavy_check_mark: ready-for-review, v3

#1038 Add v3 workflow to default branch
  .github/workflows/release-v3.yml
Labels: :heavy_check_mark: ready-for-review, :octocat: github-actions, v3

#1039 Update AWS secrets syntax
  .github/workflows/release-v3.yml
  .github/workflows/release.yml
Labels: :heavy_check_mark: ready-for-review, :octocat: github-actions, v3

#1040 Update AWS secrets syntax + unix smoke tests
  .github/workflows/release-v3.yml
  .github/workflows/release.yml
Labels: :heavy_check_mark: ready-for-review, :octocat: github-actions, v3

#1041 Update Bucket env variable syntax
  .github/workflows/release-v3.yml
Labels: :heavy_check_mark: ready-for-review, :octocat: github-actions, v3

#1042 Update Bucket env variable syntax
  .github/workflows/release-v3.yml
Labels: :heavy_check_mark: ready-for-review, :octocat: github-actions, v3

#1043 Update v3 URLs for version and upgrade
  .github/scripts/routing.sh
  README.md
  pkg/upgrade/updater.go
  pkg/upgrade/url_finder_test.go
  pkg/version/version.go
Labels: :beetle: bug, :heavy_check_mark: ready-for-review, usability, v3

#1046 feat: update repo zip command
  .github/workflows/test-repo-commands.yml
  internal/mocks/updater.go
  pkg/api/api.go
  pkg/cmd/mocks_test.go
  pkg/cmd/update_repo.go
  pkg/cmd/update_repo_test.go
  pkg/cmd/update_repo_zip.go
  pkg/cmd/update_repo_zip_test.go
  pkg/commands/builder.go
  pkg/formula/repo.go
  pkg/formula/repo/updater.go
  pkg/formula/repo/updater_test.go
Labels: :sparkles: feature, :heavy_check_mark: ready-for-review
